@import "_variables.scss";
.form {
	margin-top: 1.5rem;
	margin: auto;
	&-submit {
		.btn {
			margin-top: 1.5rem;
		}
	}
	.alert {
		margin-top: 2rem;
	}
}
.form-group {
	margin-top: 7px;
	width: 100%;
	&:first {
		margin-top: 0 !important;
	}
}
